<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.id.egiwibowo.features.modulea">

    <application>
        <activity android:name=".screens.ScreenBActivity"></activity>
        <activity android:name=".screens.ScreenAActivity" />
    </application>

</manifest>